<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.photo.dao.mapper.SeeLogMapper" >
  <resultMap id="BaseResultMap" type="com.photo.bean.SeeLog" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="shop_info_id" property="shopInfoId" jdbcType="VARCHAR" />
    <result column="see_time" property="seeTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, shop_id, shop_info_id, see_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from see_log
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from see_log
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.photo.bean.SeeLog" >
    insert into see_log (id, user_id, shop_id, 
      shop_info_id, see_time)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}, 
      #{shopInfoId,jdbcType=VARCHAR}, #{seeTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.photo.bean.SeeLog" >
    insert into see_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="shopInfoId != null" >
        shop_info_id,
      </if>
      <if test="seeTime != null" >
        see_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="shopInfoId != null" >
        #{shopInfoId,jdbcType=VARCHAR},
      </if>
      <if test="seeTime != null" >
        #{seeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.photo.bean.SeeLog" >
    update see_log
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="shopInfoId != null" >
        shop_info_id = #{shopInfoId,jdbcType=VARCHAR},
      </if>
      <if test="seeTime != null" >
        see_time = #{seeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.photo.bean.SeeLog" >
    update see_log
    set user_id = #{userId,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=VARCHAR},
      shop_info_id = #{shopInfoId,jdbcType=VARCHAR},
      see_time = #{seeTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>